{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello World!</h1>
    You can access secured content at <a href="{{ path('frontend_homepage_secured') }}">{{ path('frontend_homepage_secured') }}</a>.<br/>
    Use user <b>admin@symfony.local</b> with password <b>adminadmin</b> to log in.
    <br/><br/>
    <a href="{{ path('frontend_homepage_mongocreate') }}">Create MongoDB document</a>
    <br/><br/>
    <div id="vue-root">
        <helloworld></helloworld>
    </div>
{% endblock %}
